<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="/LandingPage/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;display=swap">
    <script src="https://code.tidio.co/zfmjptjxjp3pa3i8i0v1senqotbkqfjb.js" async></script>
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
        <div class="container"><a class="navbar-brand" href="/">solar epz</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarResponsive"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/">home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contactUs">contact us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/aboutUs">about us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/auth">Log In</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="text-center text-white masthead">
        <div class="masthead-content">
            <div class="container">
                <h2 class="masthead-subheading mb-0">It is really cool have a solar panels on your roof !!&nbsp;</h2><a class="btn btn-primary btn-xl rounded-pill mt-5" role="button" href="/aboutUs">Learn More</a>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="/LandingPage/assets/img/2.jpg"></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Experience you can TRUST</h2>
                        <p><strong>CUSTOM DESIGN</strong><br>We work with you to determine the exact configurations for your custom solar system. Our engineers use satellite technology to create solar panels that fit your home’s unique specifications. They also draft code-compliant plans that ease the approval process with your city, HOA and utility company.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="/LandingPage/assets/img/3.jpg"></div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <p><strong>HASSLE-FREE INSTALLATION</strong><br><br>Hassle-free installation, guaranteed. Set up your solar system with our help, or hire a licensed contractor to help you get the job done. You’ll have full control over the installation process and save thousands versus hiring a turn-key solar company.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="/LandingPage/assets/img/4.jpg"></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <p><strong>FULL TECHNICAL SUPPORT</strong><br>Solar EPZ is the only solar company that provides custom installation guides, permitting assistance, utility interconnection, commission, monitoring support and warranty support.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="py-5 bg-black">
        <div class="container">
            <p class="text-center text-white m-0 small">Copyright&nbsp;© Brand 2023</p>
        </div>
    </footer>
    <script src="/LandingPage/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>