<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>salesperson</title>
    <link rel="stylesheet" href="/Salesperson/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Salesperson/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/Salesperson/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/Salesperson/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/Salesperson/assets/css/styles.css">
    <link rel="stylesheet" href="/Salesperson/assets/css/Table-With-Search-search-table.css">
    <link rel="stylesheet" href="/Salesperson/assets/css/Table-With-Search.css">
</head>

<body>
    <div class="col-md-12 search-table-col">
        <div class="table-responsive table table-hover table-bordered results">
            <table class="table table-hover table-bordered">
                <thead class="bill-header cs">
                    <tr>
                        <th id="trs-hd-1" class="col-lg-1">E-Mail</th>
                        <th id="trs-hd-3" class="col-lg-3">Customer Name</th>
                        <th id="trs-hd-5" class="col-lg-2">Query Asked</th>
                        <th id="trs-hd-6" class="col-lg-2">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="warning no-result">
                        <td colspan="12"><i class="fa fa-warning"></i>&nbsp; No Result !!!</td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <% for(var i=0; i < requests.length; i++) { %>
                        <tr>
                            <td><%= requests[i].email %></td>
                            <td><%= requests[i].name %></td>
                            <td><%= requests[i].message %></td>
                            <td><%= requests[i].status %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <script src="/Salesperson/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Salesperson/assets/js/Table-With-Search-search-table.js"></script>
    <script>
        const setUserName = () => {
            let user = JSON.parse(localStorage.getItem('user'));
            document.getElementById("userName").innerText = user.userName;
        };
        setUserName();
    </script>
</body>

</html>