<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>about us</title>
    <link rel="stylesheet" href="/AboutUs/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/AboutUs/assets/css/styles.css">
    <link rel="stylesheet" href="/LandingPage/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;display=swap">
    <script src="https://code.tidio.co/zfmjptjxjp3pa3i8i0v1senqotbkqfjb.js" async></script>
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
        <div class="container"><a class="navbar-brand" href="/">solar epz</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarResponsive"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/">home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contactUs">contact us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/aboutUs">about us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/auth">Log In</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="margin-top: 80px;">
        <h1>About</h1>
        <p>My team has pushed each other to do better. They excel at collaborating to meet project goals. Thank you for being exceptional team players. We would specially thank our "Scrum master"(Siddarth)&nbsp; and "Vishwa" who helped each other teammate in doing things in a better way.</p>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="my-4">Our Team</h2>
            </div>
            <div class="col-sm-6 col-lg-4 offset-xl-2 mb-4 text-center" style="margin-right: 159px;padding-right: 0px;"><img class="rounded-circle img-fluid d-block mx-auto" width="199" height="199" src="/AboutUs/assets/img/hester-lee.jpg">
                <h3 class="m-0">Hester</h3>
                <h5 class="my-1">Project Lead</h5>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4 text-center"><img class="rounded-circle img-fluid d-block mx-auto" src="/AboutUs/assets/img/pro.jpg" width="199" height="199" style="margin-right: 145px;">
                <h3 class="m-0"><strong><span style="color: rgb(45, 59, 69);">Zhongyuan Yu</span></strong></h3>
                <h5 class="my-1">PROFESSOR</h5>
                <p></p>
            </div>
            <div class="col-sm-6 col-lg-4 offset-xl-0 mb-4 text-center" style="padding-right: 5px;"><img class="rounded-circle img-fluid d-block mx-auto" src="/AboutUs/assets/img/s.jpg" width="212" height="200" style="margin-right: 289px;">
                <h3 class="m-0"><span style="color: rgb(13, 13, 13);">SIDDHARTH</span></h3>
                <h5 class="my-1"><strong><span style="color: rgb(230, 226, 231);">SCRUM </span><span style="color: rgb(230, 226, 231); background-color: rgba(232, 200, 30, 0);">MASTER</span></strong></h5>
            </div>
            <div class="col-sm-6 col-lg-4 offset-xl-0 mb-4 text-center"><img class="rounded-circle img-fluid d-block mx-auto" src="/AboutUs/assets/img/vish1.jpg" width="202" height="200">
                <h3 class="m-0">Kashi Vishwanath</h3>
                <h5 class="my-1">Team member</h5>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4 text-center"><img class="rounded-circle img-fluid d-block mx-auto" src="/AboutUs/assets/img/pp.jpg" width="187" height="199">
                <h3 class="m-0">Pradyumn Pundir</h3>
                <h5 class="my-1">Team Member</h5>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4 text-center"><img class="rounded-circle img-fluid d-block mx-auto" src="/AboutUs/assets/img/My%20project.jpg" width="201" height="201">
                <h3 class="m-0">Ning</h3>
                <h5 class="my-1">Team Member</h5>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4 text-center"><img class="rounded-circle img-fluid d-block mx-auto" src="/AboutUs/assets/img/IMG_6273.jpg" width="199" height="199">
                <h3 class="m-0">Jay Dave</h3>
                <h5 class="my-1">Team Member</h5>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4 text-center"><img class="rounded-circle img-fluid d-block mx-auto" src="/AboutUs/assets/img/Aayushi_photo.jpg" width="207" height="201">
                <h3 class="m-0">Ayushi Desai</h3>
                <h5 class="my-1">Team Member</h5>
            </div>
            <div class="col-sm-6 col-lg-4 offset-xl-4 mb-4 text-center"><img class="rounded-circle img-fluid d-block mx-auto" src="/AboutUs/assets/img/IMG_0001%20(2).jpg" width="204" height="201">
                <h3 class="m-0">Tanvisha</h3>
                <h5 class="my-1">Team Member</h5>
            </div>
            <div class="w-100"></div>
        </div>
    </div>
    <script src="/AboutUs/assets/js/jquery.min.js"></script>
    <script src="/AboutUs/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/LandingPage/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>