.contactUs-body {
	background: url("./assets/img/bg.jpg") center / cover no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
}